.left_menu {
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 101;
    transition: all 1s;
}

.left_menu_back.is-open{
    width:50px;
    transition: all 1s;
}
.left_menu.is-open{
    width:50px;
    transition: all 1s;
}

.left_menu_back{
    background-color: #692828;
    width: 210px;
    min-height: 100vh;
    transition: all 1s;
}


.button_block {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s;
    border-top: 2px solid #354161;
    border-bottom: 2px solid #354161;
    display: flex;
    align-items: center;  
}

.down_button_block{
    margin-top: auto;
}


.button_block_new {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 2px solid #354161;
    border-bottom: 2px solid #354161;
    display: flex;
    align-items: center;
    transition: all 1s;
}

.button_block_new:hover{
    box-shadow:  0 0 10px rgb(180, 179, 178);
    background-color: #2764aa;
}


.button_block label {
    margin-left: 5px;
}
.button_block:hover {
    box-shadow:  0 0 10px rgb(180, 179, 178);
    background-color: #2764aa;
  }
.button_block.act{
    background-color: #2764aa;;
}
.Animat {
    width: 20%;
    height: 2%;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
