.body {
    display: flex;
    flex-direction: column;
}

.body_pos {
    /*float: left;*/
    /*width: calc(100% - 220px);*/
    /*margin-left: 220px;*/
    width: 100%;
    /*min-width: 700px;*/
    min-height: 100vh;
    /*overflow: auto;

    position: relative;*/

    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}