.auth{
    /*width: calc(100% + 20px);
    height: 100%;*/

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #afbebe;

    position:absolute;
    left: 0;
    right: 0;
    height: 100%;

    z-index: 250;
}

.auth_form{
    width: 350px;
    border: 1px solid #525252;
    background-color: rgba(204, 203, 203, 0.747);
    
    color: black;
    /*box-shadow: 0 0 3px rgb(7, 77, 99);*/

    display: flex;
    flex-direction: column;

    padding: 10px;

    border-radius: 5px;
}