.otdel_main {
    background-color: rgba(216, 216, 216, 0.718);
    width: 100%;
    min-height: 50px;

    margin-top: 10px;
    border-radius: 10px;

    font-size: 17px;
    color: black;
    
}

.otdel_main select {
    margin-right: 10px;
}

.otdel_workspace{
    width: calc(100% - 21px);
    margin-left: 10px;
}

.otdel_workspace_equip{
    width: 100%;
    display: flex;
    flex-direction: column; 
       
}

.otdel_workspace_mol{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.combo_div{
    display: flex;
    flex-direction: row;
     
}

.mol_column {
    width: 150px;
    height: 80px;
}

.otdel_grow{
    flex-grow: 2;
}

.act_disable_button{
    width: 80%;
}

.otd_table{
    margin: 5px;
    width: calc(100% - 10px);
    background-color: rgb(216, 216, 216);
    border-collapse: collapse;
}

.otd_table th{
    border: 1px solid black;
    background-color: rgb(117, 117, 117);
}

.otd_table td{
    border: 1px solid black;
    min-height: 30px;
}

.otd_button_red{
    background-color: rgb(82, 115, 163);
    border: 1px solid rgb(10, 16, 92);
    box-shadow: 0 0 3px rgb(90, 64, 187);
    transition: all 0.5s;
}

.otd_button_red:hover{
    background-color: rgb(52, 88, 121);
}

