.act_main {
    width: 800px;
}

.act_container_text{
    margin-left: 10px;
}

.act_table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 0 3px rgb(80, 80, 80);
}

.act_table thead {
    background-color: #818181;
    
}

.act_table td {
    border: 1px solid black;
    background-color: rgb(137, 168, 201);
}

.act_line_div{
    display: flex;
    align-items: center;
    resize: none;
}
.act_line_div select {
    width: 250px;
}
.Texts{
    resize: none;
    width: 200px;
    height: 15px;
    margin-left: 10px;
    align-items: left;
}
.act_line_lab{
    display: flex;
    align-items: left;
    resize: none;
}