.sklad_main_div{
    min-width: 950px;
}

.sklad_main_group{
    width: 100%;
    min-height: 30px;

    display: flex;

    justify-content: center;

    color: black;
}

.sklad_table_body{
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-collapse: collapse;
    border-radius: 5px;
}

.sklad_table_head{
    background-color: #0a5e74;
    color: #e7e7e7;
    text-align: center;
}
.sklad_table_row{
    background-color: #598362;
    color: black;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif; 
    
}

.sklad_table_row:hover{
    background-color: #396944;
}

.sklad_table_cell{
    border: 1px solid #14534e;
    height: 35px;
}

.sklad_table_cell_head{
    border: 1px solid #2e2e2e; 
}

.scroll{
    overflow-x: auto;
}

.cell_left {
    text-align: left;
}

.kat_osn {
    background-color: #af7676;
}

.kat_osn:hover {
    background-color: #965050;
}

.kat_kartr{
    background-color: #6f9199;
}


.kat_kartr:hover{
    background-color: #3d646e;
}

.data-table {
    background-color: #f1f0f0;
    border-radius: 10px;
}

.data-table_pos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
}

.data-table__head{
    border-radius: 4px;

    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #1c7e76;

    font-size: 17px;
    text-decoration: none;
    color: white;
    background-color: #0a5e74;
    border-collapse: collapse;
}

.data-table__body {
    background-color: #24a197;
    border-radius: 4px;
    
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #0a5e74;

    font-size: 16px;
    
    text-decoration: none;
    vertical-align: middle;
    color: white;
    text-align: left;
    border-collapse: collapse;
}

.data-table__body_pos {
    width: calc(100% - 8px);
}

.data-table__row{
    background-color: #76b884;
    border-radius: 4px;
    
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #0a5e74;

    font-size: 16px;
    
    text-decoration: none;
   
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif; 
    text-align: left;

    border: 1px solid green;
    border-collapse: collapse;
}

.data-table__row_pos{
    float: left;
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-right: 4px;
}

.data-table__row_pos:hover {
    background-color: #41724c;
    box-shadow: 0 0 10px rgb(10, 103, 165);
    transition: all 1s;
}

.data-table__cell {
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    
    word-wrap: break-word;
    border: 1px solid black
}

.data-table__cell_pos {
    padding: 2px;
}

.data-table__body:hover {
    background-color: #254677;
    box-shadow: 0 0 10px rgb(10, 103, 165);
    transition: all 1s;
}




