.spr_block_main{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}
.spr_block{
    border: 1px solid #143952;
    background-color: #206b81;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    border-radius: 10px;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

.spr_block_pos {
    min-width: 130px;
    min-height: 100px;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.spr_block_heder{
    padding: 5px;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;

    color: black;
    text-align: center;
}

.spr_block_nav{
    padding: 2px;
}

.spr_block_text {
    text-align: center;
}

.spr_block a {
    text-align: center;
    margin-top: 5px;
    border: 1px solid black;
}



.spr_block_data {
    /*background-color: rgb(228, 224, 224);*/
    border-radius: 5px;

    margin-top: 5px;

    color: black;
    text-align: center;
}

.spr_block_data_line{
    min-width: 50px;
    min-height: 10px;

    display:flex;
    justify-content: center;
}

.delete_button{
    background-color: rgb(167, 17, 17);
    width: 20px;
    text-align: center;
    border: 1px solid rgb(100, 5, 5);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    display: flex;
}

.modal_button_div{
    display: flex;
    flex-direction: row;
}

.delete_button:hover{
    background-color: rgb(211, 21, 21);
    box-shadow: 0 0 5px rgb(214, 25, 12);
    transition: all 0.5s;
}

.spr_block_data_item{
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    min-width: 50px;
    flex-grow: 3;
}

.spr_block_data_item a{
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-top: 2px;
}

.spr_block_data_item:hover{
    background-color: rgb(67, 141, 224);
    box-shadow: 0 0 5px rgb(10, 17, 117);
    transition: all 0.5s;
}

.spr_block_act_zone{
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


