
.input_form {
    background-color: rgba(238, 238, 238, 0.719);
    border-radius: 10px;
    color: black;
    text-align: left;
    border: 1px solid black;

    padding: 4px;
    display: flex;
}

.input_form_pos {
    /*width: calc(100% - 20);*/
    width: 1005px;
    min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.input_form__table{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    
    /*border-radius: 4px;
    border: 1px solid rgba(100, 100, 100, 0.849);*/
    
}

.input_form__table_pos {
    min-width: 1005px;
    min-height: 100px;
}

.cell_content {
    width: 70px;
}

.input_form__table th{
    width: 25px;
    background-color: #b1b1b1;
}

.input_form__table td{
    border-bottom: 1px solid black;
}

.cell_name{
    width: 100px;
}

.input_form__table input {
    width: 150px;
    height: 25px;
    margin-left: 10px;
    font-size: 15px;
}

.input_form__table select {
    width: 150px;
    height: 25px;
    margin-left: 10px;
    font-size: 15px;
}
/*.input_form p {
    font-size: 20px;
    min-height: 35px;
    margin-top: 5px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.input_form div {
    float: left;
}

.input_form input {
    margin-left: 10px;
    height: 25px;
    width: 250px;

}

.input_form select {
    margin-left: 10px;
    height: 25px;
    width: 250px;
}*/

.input_form__bb {
}

.input_form__bb_pos {
    float: left;
    min-width: calc(100% - 8);
    min-height: 50px;
    padding: 10px;
}
