.new_eq{
    background-color: rgba(216, 216, 216, 0.719);
    
    padding: 10px;
    float: left;

    width: 500px;

    display: flex;
    justify-self: center;
    align-self: center;

    border-radius: 10px;

    color: black;
}

.new_eq__form {
    background-color: rgb(207, 207, 207);
    min-height: 50px;
    min-width: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.new_eq_data{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.new_eq_data table {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.new_eq_data table td {
    padding: 5px;
}

.new_eq_sel_col2 select {
    min-width: 200px;
    height: 25px;
    flex-grow:1
}

.new_eq_data input {
    width: 195px;
    height: 20px;
}

.new_eq_data__button{
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.new_eq_data__button button {
    margin-left: 5px;
    padding: 10px;
}

.new_eq_sel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new_eq_sel_col1{
    width: 140px;
    width: 160px;
    overflow-wrap: break-word;
    margin: 5px;
    text-align: center;
}
.new_eq_sel_col2{
    min-width: 200px;
    margin: 5px;
    flex-grow:1
}
.new_eq_sel_col3{
    min-width: 50px;
    height: 26px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.new_eq_plus {
    text-align: center;
}
