.App {
    text-align: center;
    background-image: url(background-texture2.jpg);
    /*background-color: #dfdfdf;*/
    background-size: cover;
    /*width: 100vw;*/
    min-height: 100vh;
    min-width: 1000px;
    overflow: auto;
    /*margin-left: auto;
    margin-right: auto;*/

    color: white;

    position: relative;
    display:flex;
    flex-direction: row;
}

/*.back {
    
    background-color: #d3d3d3;
    width: auto;
    min-height: 100px;
}*/

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}