.box_back_osn {
    background-color: rgba(216, 216, 216, 0.719);
    width: 960px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
}

.box_back_dop{
    background-color: rgb(207, 207, 207);
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
}
.form_box{
    min-width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: row;

}
.form_box_add{
    min-width: 200px;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    color: black;
    border-radius: 10px;
}

.form_box_add button {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.form_box_add div {
    display: flex;
    flex-direction: row;
}

.active_box {
    display: flex;
    flex-direction: row;
}

.active_box_block{
    width: 50%;
    display: flex;
    justify-content: center;
}