.body {
    /*background-color: red;*/
}

.body_pos {
    float: left;
    width: calc(100% - 270px);
    min-width: 1400px;
    min-height: 100vh;

    position: relative;

    padding-left: 10px;
    padding-right: 10px;
}