.body {
    /*background-color: red;*/
}

.body_pos {
    float: left;
    /*width: calc(100% - 270px);*/
    min-width: 500px;
    min-height: 100vh;
    overflow: auto;

    position: relative;

    padding-left: 10px;
    padding-right: 10px;
}