.body {
    /*display: flex;
    flex-direction: column;*/

}

.body_pos {
    float: left;
    /*width: calc(100% - 270px);*/
    min-width: calc(100vw - 280px);
    min-height: 100vh;
    overflow: auto;

    position: relative;

    padding-left: 10px;
    padding-right: 10px;
}