.DataBlock {
    background-color: #cecece;
    float: left;
    width: calc(100vw - 280px);
    height: calc(100vh - 170px); 
    min-width: 740px;
    min-height: 720px;
    /*height: 100%;*/
    
    margin-left: 10px;
    margin-top: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    position: relative;
}

.Data {
    /*width: 50px;
    height: 50px;*/
    min-height: 500px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 4px;

    position: relative;
}

.Block {
    min-height: 50px;
    min-width: 560px;
    background-color: #24a197;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    display: block;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #1c7e76;

    font-size: 17px;
    line-height: 50px;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    text-align: left;
}

.Block-head{
    min-height: 50px;
    min-width: 560px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    display: block;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #1c7e76;

    font-size: 17px;
    line-height: 50px;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    text-align: left;
    background-color: #0a5e74;
}

.Block-head label{
    display: grid;
    display: inline-grid;
    width: calc((100vw - 324px)/4);
    min-width: 174px;
    border-left: 1px solid black;
    border-right: 1px solid black;

    text-align: center;
}

.Block label {
    /*display: grid;
    display: inline-grid;*/
    display: table-cell;
    width: calc((100vw - 324px)/4);
    min-width: 174px;
    border-left: 1px solid black;
    border-right: 1px solid black;

    text-align: center;
    position: relative;

    border-radius: 3px;
}

.Block-head button {

    padding: 0px;
    text-align: center;
    background-color: #0a5e74;
}

.Block:hover {
    background-color: #154792;
    box-shadow: 0 0 10px rgb(10, 103, 165);
    transition: all 1s;
}